.u-section-1 .u-sheet-1 {
  min-height: 685px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 151px auto 0;
}

.u-section-1 .u-text-2 {
  margin: 0 auto;
}

.u-section-1 .u-custom-html-1 {
  height: auto;
  min-height: 153px;
  margin: 53px 302px 60px 279px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-custom-html-1 {
    width: 560px;
    margin-right: 202px;
    margin-left: 179px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-custom-html-1 {
    margin-right: 92px;
    margin-left: 69px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-custom-html-1 {
    width: 540px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-custom-html-1 {
    width: 340px;
  }
}