.u-section-1 .u-sheet-1 {
  min-height: 630px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 257px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  width: 537px;
  margin: 59px auto 0;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  margin: -79px auto 0;
}

.u-section-1 .u-text-3 {
  width: 382px;
  margin: -8px auto 0;
}

.u-section-1 .u-text-4 {
  margin: -28px auto 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 255px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 30px;
}

.u-section-1 .u-custom-html-1 {
  height: auto;
  min-height: 322px;
  width: 560px;
  margin: -33px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 540px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 212px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 210px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 379px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 62px;
    margin-right: 62px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 161px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 339px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    margin-left: -8px;
    margin-right: -8px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 73px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 61px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 82px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 121px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-custom-html-1 {
    width: 520px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 294px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 26px;
    margin-right: 26px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 76px;
  }

  .u-section-1 .u-custom-html-1 {
    width: 320px;
  }
}